* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html::selection {
    color: #f1f1f1;
    background-color: #131313;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
    background-color: #131313;
    color: #f1f1f1;
}


.edit-delete-button {
    padding-top: 2.5rem !important;
}


@media (max-width: 992px) {
    .vr {
        display: none !important;
    }
}


.td {
    padding-top: 2rem !important;
}


.w {
    padding: 2px 1px 2px 1px !important;
}

.tr {
    padding-top: 1.6rem !important;
}


.form-check-input {
    background-color: #ffffff !important;
}

.form-check-input:checked {
    border: 5px solid #131313 !important;
}

.form-check-label {
    margin-left: 8px;
    cursor: pointer;
}

.border-color {
    border: 0.15rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}